/*
* This file use declarations, functions and mixins from
* config/_typography.scss
*/

body {
  font-family : $body-font;
  font-size   : fontSize(normal);
  font-weight : 400;
  line-height : 1.6;
  color       : $textColor;
}

h1, h2, h3, h4, h5, h6,
.t1, .t2, .t3, .t4 {
  font-family    : $heading-font;
  font-weight    : 300;
  letter-spacing : -0.01em;
  line-height    :  1.3;
}

// classes for font-family
.body-font { font-family : $body-font }
.heading-font { font-family : $heading-font }

// Set font sizes
h1, .t1         { @include t1 }
h2, .t2         { @include t2 }
h3, .t3         { @include t3 }
h4, .t4         { font-size : fontSize(normal) }
h5, h6, .small  { font-size : fontSize(small) }
.smaller        { font-size : fontSize(smaller) }

// Blockquote
blockquote {
  @include t3;
  font-style     : italic;
  letter-spacing : .01em;
  margin-left    : 4rem;
  position       : relative;
  opacity        : .9;

  &::before {
    content        : "\201C";
    font-family    : Georgia, serif;
    font-size      : 3em;
    position       : absolute;
    top            : .5em;
    left           : -.6em;
    line-height    : 0;
    letter-spacing : -0.5em;
  }
}

// Enlaces
// Menu links doesn't have underline
a {
  color : $secondColor;

  main & {
    text-decoration : none;

    &:hover {
      text-decoration : underline;
    }
  }
}

::selection {
  background : $secondColor;
  color      : #FFF;
}
