*,
*::before,
*:after {
  box-sizing: border-box;
}

body {
  margin : 0;
  background : linear-gradient($darkColor, lighten($darkColor,25), $darkColor);
  background-attachment: fixed;
}

strong,
em {
  font-weight : 700;
}

ul {
  padding-left : 0;
  margin-left  : 2rem;
}
