extends layouts/template
append config
  -currentPage = 'Alambres'
//- block banner
  include components/cssslider.html
block main
  .rex-item.l-100
    h2.title.center #{currentPage}
  gallery-vue(idmenu = 2, title= "Alambres")