extends layouts/template
append config
	-currentPage = 'Enmallados - Cerramientos'
//- block banner
	include components/cssslider.html
block main
	.rex-item.l-100
		h2.title.center #{currentPage}
	gallery-vue(idmenu = 1, title= "Enmallados - Cerramientos")