extends layouts/template
append config
  -currentPage = 'Inicio'
block banner
  include components/cssslider.html
block main
  //- include components/present-gallery
  //- p Esta guia define el concepto visual, patrones de diseño y estructura para proyectos web en #{siteName}.
  //- p Esta guia se encuentra en constante actualización.
  //- a(href="/demo/stylesguide").button Ver guia de estilos 