extends layouts/template
append config
	-currentPage = 'Mallas olímpicas'
//- block banner
	include components/cssslider.html
block main
	.rex-item.l-100
		h2.title.center Fabricación de #{currentPage} a pedido en diferentes medidas
	gallery-vue(idmenu = 0, title= "Mallas olímpicas")