extends layouts/template
append config
  -currentPage = 'Nosotros'
//- block banner
  include components/cssslider.html
block main
  .rex-item.l-100
    h2.title.center #{currentPage}
  .rex-item.l-50
    p
  .rex-item.l-50
    .video-responsive
      iframe(src="https://www.youtube.com/embed/J8w37epotnU", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)