extends layouts/template
append config
  -currentPage = 'Postes de hormigón armado'
//- block banner
  include components/cssslider.html
block main
  .rex-item.l-100
    h2.title.center #{currentPage}
  gallery-vue(idmenu = 3, title= "Postes de hormigón armado")