.gallery{
  &__item{
    box-shadow: 1px 1px 0 0 black;
    border-radius: .5rem;
    padding: .5rem;
    margin: 0 .5rem;
    background: linear-gradient(60deg,silver, white, silver);
    margin-bottom: 1rem;
  }
  .rex-item{
    padding: 0
  }
  img{
    height: 70vw;
    @include from(m){
      height: 30vw;
    }
    @include from(l){
      height: 19vw;
    }
    @include from(xl){
      height: 18vw;
      max-height: 350px;
    }
    object-fit: cover;
    width: 100%;
  }
}