.button--goup{
  background: $accentColor;
  // color: white;
  width: 40px;
  @include from(m){
    width: 50px;
  }
  padding: 0;
  position: fixed;
  bottom: 1.2rem;
  right: 0;
  z-index: $z-fixed;
  &:hover{
    // background:$firstColor;
    // color: white;
  }
  &.fade-in{
    opacity    : 1;
    transform  : translateY(0);
    transition : 0.5s all;
  }
  &.fade-out{
    opacity    : 0;
    transform: translateY(200%);
    transition : 0.5s all;
  }
}