.main-header {
  position      : relative;
  padding       : 1rem 0;
  margin-top    : 1rem; 
  border-bottom : 1px solid $borderColor;
  display       : flex;
  flex-wrap     : wrap;
  align-items   : center;
  background   : url(../images/header-background.png), 
                linear-gradient($firstColor, darken($firstColor,10));
  top           : 0;
  width         : 100%;
  left          : 0;
  z-index       : $z-fixed;
  box-shadow: 1px 1px 1px $darkColor;
  &::after{
    content: '';
    position: absolute;
    display: block;
    background: linear-gradient(lighten($thirdColor,10),$thirdColor);
    width: 100%;
    height: .5rem;
    bottom: 0;
  }
  &::before{
    content: '';
    position: absolute;
    display: block;
    background: linear-gradient(lighten($thirdColor,10),$thirdColor, $thirdColor);
    width: 100%;
    height: 1.5rem;
    top: -1rem;
  }
}
