/*
  MAIN MENU
  Este es el menú principal del sitio, aparece dentro de main header

  Su estructura es
    <nav class="main-menu" id="main-menu">
      <ul>
        <li><a href="#">Item de menu</a></li>
        <li><a href="#">Item de menu</a></li>
      </ul>
    </nav>

  En movil se activa con un botón de hamburguesa.
  En el ejemplo es un div pero puede ser cualquier elemento
  (debe estar fuera del nav)
    <div id="main-menu-toggle" class="main-menu-toggle to-l"></div>

  Entra por la derecha justo debajo de main-header

*/

.main-menu {
  a:hover {
    text-decoration : none;
  }

  .active {

    @include from(l) {
      font-weight : 400;
      color: $thirdColor;

      &::before {
        display : none;
      }
    }
  }
}


body {
  position   : relative;
  right      : 0;
  transition : right .5s;

  &.main-menu-visible {
    @include to(l) {
      right      : 80%;
      overflow-y : hidden;
    }
  }
}

.main-menu-toggle {
  @include navToggle(20px, #FFF);
}


@mixin main-menu {
  width: 100%;
  font-size : fontSize(small);

  @include to(l) {
    position   : fixed;
    top        : 0;
    background : rgba($firstColor, .95);
    width      : 80%;
    right      : -80%;
    padding    : 1em 1em 2em;
    height     : 100vh;
    transition : right .5s;
    overflow-y : auto;
    // Mostrar el menu
    &.show {
      right : 0;
    }
  }

  .main-menu__item {
    @include clearMenu;
    @include from(l) {
      display : flex;
    }
  }

  li {
    color         : #FFF;
    border-bottom : 1px solid rgba(#fff, .2);
    padding       : .3em 0;
    margin        : 0;

    @include from(l) {
      color       : $textColor;
      padding     : 0;
      margin-left : .5rem;
    }
  }

  a {
    text-transform: uppercase;
    font-weight: 300;
  }
}


.main-menu {
  @include main-menu;
}
.main-inicio{
  ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding-left: 0;
    margin-bottom: .3rem;
  }
  li{
    margin-left: .5rem;
  }
}
