.main-footer {
  position: relative;
  background : $firstColor;
  background   : linear-gradient(-60deg, lighten($firstColor, 10), darken($firstColor,10),$firstColor);
  color      : #FFF;
  padding    : 2rem 0 0;
  font-size  : fontSize(normal);
  margin-top : auto;
  &__item{
    padding-left: .5rem;
    padding-right: .5rem;
  }
  a{
    // color: #FFF;
  }
  &::before{
    content: '';
    position: absolute;
    display: block;
    background: linear-gradient(lighten($thirdColor,10),$thirdColor, $thirdColor);
    width: 100%;
    height: .5rem;
    top: 0;
  }
  &__copyright{
    background: linear-gradient($thirdColorAlt,$thirdColor);
    p{
      margin: .7rem 0;
    }
  }
  &__content{
    padding: 0 .5rem;
  }
  &__title{
    background: linear-gradient(#c7c7c7, white, white);
    color: #273777;
    border: solid $thirdColor;
    border-bottom: none;
    border-radius: 20px 20px 0 0;
    text-align: center;
  }
  a{
    color: #FFF;
    font-weight: 600;

  }
}
