.title{
  background: linear-gradient($accentColor,$accentColorAlt,$accentColor);
  color: #FFF;
  margin-left: -1rem;
  margin-right: -1rem;
  font-family: $button-font;
  text-transform: uppercase;
  letter-spacing: .5px;
  padding: .4rem .2rem .2rem ;
  border: outset 1px $borderColor;
}