- var currentPage = 'Inicio'
- var siteName = 'Fábrica de Mallas Olímpicas Castillo'
- var slogan = ''
- var description = 'Fábrica de Mallas Olímpicas Castillo, alambres y enmallados'

//-Site Version
- var siteVersion = '2.0.3'

//- Root images
- var path_media = '/assets/'

//- Root pages
- var path_page = '/'