td [class*="button"] {
  display: inline;

  &:last-child {
    margin-right : 0;
  }
}
.made-in{
  color: #FFF;
  opacity: .28;
  &:hover{
    opacity: 1;
  }
}
.end{
  text-align: end;
}
.inline{
  display: inline-block;
}
.video-responsive{
  position: relative;
  width: 100%;
  padding-bottom: 55%;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}