		<div class='csslider1 autoplay'>
			<input name="cs_anchor1" id='cs_slide1_0' type="radio" class='cs_anchor slide' >
			<input name="cs_anchor1" id='cs_slide1_1' type="radio" class='cs_anchor slide' >
			<input name="cs_anchor1" id='cs_slide1_2' type="radio" class='cs_anchor slide' >
			<input name="cs_anchor1" id='cs_slide1_3' type="radio" class='cs_anchor slide' >
			<input name="cs_anchor1" id='cs_play1' type="radio" class='cs_anchor' checked>
			<input name="cs_anchor1" id='cs_pause1_0' type="radio" class='cs_anchor pause'>
			<input name="cs_anchor1" id='cs_pause1_1' type="radio" class='cs_anchor pause'>
			<input name="cs_anchor1" id='cs_pause1_2' type="radio" class='cs_anchor pause'>
			<input name="cs_anchor1" id='cs_pause1_3' type="radio" class='cs_anchor pause'>
			<ul>
				<li class="cs_skeleton"><img src="assets/images/whatsapp_image_20180815_at_10.37.27.jpg" style="width: 100%;"></li>
				<li class='num0 img slide'> <img src='assets/images/whatsapp_image_20180815_at_10.37.27.jpg' alt='MALLAS OLÍMPICAS' title='MALLAS OLÍMPICAS' /></li>
				<li class='num1 img slide'> <img src='assets/images/whatsapp_image_20180815_at_10.37.32.jpg' alt='ENMALLADOS' title='ENMALLADOS' /></li>
				<li class='num2 img slide'> <img src='assets/images/whatsapp_image_20180815_at_10.37.28.jpg' alt='MALLAS OLÍMPICAS' title='MALLAS OLÍMPICAS' /></li>
				<li class='num3 img slide'> <img src='assets/images/whatsapp_image_20180815_at_10.37.311.jpg' alt='ENMALLADOS' title='ENMALLADOS' /></li>
			</ul><div class="cs_engine"><a href="http://cssslider.com">bootstrap slider</a> by cssSlider.com v1.9</div>
			<div class='cs_description'>
				<label class='num0'><span class="cs_title"><span class="cs_wrapper t1">MALLAS OLÍMPICAS</span></span></label>
				<label class='num1'><span class="cs_title"><span class="cs_wrapper t1">ENMALLADOS</span></span></label>
				<label class='num2'><span class="cs_title"><span class="cs_wrapper t1">MALLAS OLÍMPICAS</span></span></label>
				<label class='num3'><span class="cs_title"><span class="cs_wrapper t1">ENMALLADOS</span></span></label>
			</div>
			<div class='cs_play_pause'>
				<label class='cs_play' for='cs_play1'><span><i></i><b></b></span></label>
				<label class='cs_pause num0' for='cs_pause1_0'><span><i></i><b></b></span></label>
				<label class='cs_pause num1' for='cs_pause1_1'><span><i></i><b></b></span></label>
				<label class='cs_pause num2' for='cs_pause1_2'><span><i></i><b></b></span></label>
				<label class='cs_pause num3' for='cs_pause1_3'><span><i></i><b></b></span></label>
				</div>
			<div class='cs_arrowprev'>
				<label class='num0' for='cs_slide1_0'><span><i></i><b></b></span></label>
				<label class='num1' for='cs_slide1_1'><span><i></i><b></b></span></label>
				<label class='num2' for='cs_slide1_2'><span><i></i><b></b></span></label>
				<label class='num3' for='cs_slide1_3'><span><i></i><b></b></span></label>
			</div>
			<div class='cs_arrownext'>
				<label class='num0' for='cs_slide1_0'><span><i></i><b></b></span></label>
				<label class='num1' for='cs_slide1_1'><span><i></i><b></b></span></label>
				<label class='num2' for='cs_slide1_2'><span><i></i><b></b></span></label>
				<label class='num3' for='cs_slide1_3'><span><i></i><b></b></span></label>
			</div>
			<div class='cs_bullets'>
				<label class='num0' for='cs_slide1_0'> <span class='cs_point'></span>
					</label>
				<label class='num1' for='cs_slide1_1'> <span class='cs_point'></span>
					</label>
				<label class='num2' for='cs_slide1_2'> <span class='cs_point'></span>
					</label>
				<label class='num3' for='cs_slide1_3'> <span class='cs_point'></span>
					</label>
			</div>
		</div>
		<!-- End cssSlider.com -->