footer.main-footer
	.rex-container.full
		.rex-item.l-20.m-100.s-100.main-footer__item.l-block
			h3.main-footer__title Productos
			.main-footer__content
				ul.feature-list.rex-container
					li.rex-item(v-for="item in mainmenu")
						a(:href="path_page + item.href + '.html'" v-text="item.title")
						//- a(v-else :href="item.href" v-text="item.title + ': '")
						//- template(v-for="subitem in item.submenu")
						//- 	a(:href="subitem.href" v-text="' - ' + subitem.title")
		.rex-item.l-55.m-55.s-100.main-footer__item.l-block
			h3.main-footer__title #{siteName} - Bolivia
			.main-footer__content
				p
				ul.data-list
					li 
						p
							b Santa Cruz: 
							| 4° Anillo # 1820, Av. Nicolás Suárez, frente a Parque Industrial, Z. Chacarilla
						a.button--cta.button--small(href="contactos.html") 
							| Ver mapa
							i.icon-marker 
					li
						p
							i.icon-home
							|  
							b Sucursal 1: 
							| Cambodromo 5to. Anillo
						a.button--cta.button--small(href="contactos.html") 
							| Ver mapa
							i.icon-marker 
					li 
						p
							i.icon-home
							|  
							b Sucursal 2: 
							| Av. Los Lotes, parada de la línea 60 pasando 2 cuadras
						a.button--cta.button--small(href="contactos.html") 
							| Ver mapa
							i.icon-marker 
					p.center
						b Telf. 
						span.smaller (+591)  
						span.strong.t2 3256410
						| &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						span.inline
							span.inline
								b Cel:   
								span.smaller (+591) 
								span.strong.t1 750-22990
								i.icon-whatsapp
								| &nbsp;&nbsp;
							span.inline
								span.strong.t1 781-66057
								i.icon-whatsapp 
		.rex-item.l-25.m-45.s-100.main-footer__item.l-block
			h3.main-footer__title Siguenos en:
			.main-footer__content.main-center.cross-center
				ul.social
					li: a.icon-whatsapp(href="https://api.whatsapp.com/send?phone=59175022990" target="_blank")
					li: a.icon-facebook(href="https://www.facebook.com/FabricadeMallasOlimpicasCastillo/" target="_blank")
					li: a.icon-youtube(href="https://youtu.be/J8w37epotnU" target="_blank")
				p.center También puede contactarnos a:
					br 
					a(href="javascript:void(0)" target="_blank").small mallasolimpicascastillo@gmail.com
	.main-footer__copyright
		.rex-container
			.rex-item.l-100.main-footer__item
				.main-footer__content.main-distribute.cross-center
					p Todos los Derechos Reservados ® 
						b #{siteName} 
						| © 
						span#currentDate
					p: a.made-in(href='https://ahpublic.com', target='_blank') Diseño y Programación: Ah! Publicidad
