header.main-header
	.rex-container
		.rex-item.l-100.s-80.main-center
		.rex-container.rex-item.l-100.s-100.cross-center.main-center.header-links
			.rex-item.s-80.l-30.from-l
				ul.social
					li: a.icon-whatsapp(href="https://api.whatsapp.com/send?phone=59175022990" target="_blank")
					li: a.icon-facebook(href="https://www.facebook.com/FabricadeMallasOlimpicasCastillo/?ref=bookmarks" target="_blank")
					li: a.icon-youtube(href="https://youtu.be/J8w37epotnU" target="_blank")
			.rex-item.s-80.l-40.main-center
				a(:href="path_page")
					img(src= path_media + 'images/logo-castillo-blanco.png').main-logo
			.rex-item.s-80.l-30.from-l
				nav.main-end.main-inicio
					ul
						li(v-for="item in menuinicio"): a.button--alert.button--small.l-100(:href="path_page+item.href" v-text="item.title")
			.rex-item.s-20.l-100
				nav.main-menu#main-menu
					.main-inicio.to-l
						ul
							li(v-for="item in menuinicio"): a.button--alert.button--small.l-100(:href="path_page+item.href" v-text="item.title")
					ul.main-menu__item
						li.l-25(v-for="item in mainmenu"): a.button--mainmenu.l-100(:href="path_page+item.href+'.html'" v-text="item.title")
				.main-menu-toggle.to-l#main-menu-toggle
