.present-gallery
  .present-gallery__item.present-gallery__first.card.card--next-class
    img.present-gallery__img.image--cover(:src="slideshow.src" alt= siteName)
    .present-gallery__first_body.card__content.center
      h3.card__title
        a(:href="path_page + mainmenu[slideshow.href_id].href + '.html'" v-text="slideshow.title")
      p.card__footer.center(v-text="slideshow.description")
  .present-gallery__item(@click="selectGallery(0,'slide01', '')")
    img.image--contain.to-center(:src="path_media + 'images/present-gallery/slide01-170px.jpg'" alt= siteName)
  .present-gallery__item(@click="selectGallery(1,'slide02', '')")
    img.image--contain.to-center(:src="path_media + 'images/present-gallery/slide02-170px.jpg'" alt= siteName)
  .present-gallery__item(@click="selectGallery(2,'slide03', '')")
    img.image--contain.to-center(:src="path_media + 'images/present-gallery/slide03-170px.jpg'" alt= siteName)
  .present-gallery__item(@click="selectGallery(3,'slide04', '')")
    img.image--contain.to-center(:src="path_media + 'images/present-gallery/slide04-170px.jpg'" alt= siteName)
  //- .present-gallery__item(@click="selectGallery(4,'slide05', '')")
  //-   img.image--contain.to-center(:src="path_media + 'images/present-gallery/slide05-170px.jpg'" alt= siteName)
  //- .present-gallery__item(@click="selectGallery(5,'slide06', '')")
  //-   img.image--contain.to-center(:src="path_media + 'images/present-gallery/slide06-170px.jpg'" alt= siteName)
