// This file doesn't generate any css
@mixin button {
  display         : inline-block;
  padding         : .5em .5em;
  background      : $firstColor;
  color           : #FFF;
  margin-right    : .5rem;
  cursor          : pointer;
  text-decoration : none;
  border-radius   : .25rem;
  transition      : transform .05s;
  border          : none;
  text-align      : center;

  &:hover {
    background      : darken($firstColor, 5);
    text-decoration : inherit;
  }

  &:active {
    transform : scale(.99)
  }
}

@mixin button-small {
  padding: .2rem .5rem;
  font-size: fontSize(small);
}

@mixin button-center {
  display     : table;
  margin-left  : auto;
  margin-right : auto;
}

@mixin button-full {
  margin-right : 0;
  margin-left  : 0;
  width        : 100%;
}

@mixin button-last {
  margin-right: 0;
}

@mixin button-alert {
  background : $thirdColor;

  &:hover {
    background : $thirdColorAlt;
  }
}

@mixin button-cta {
  background : $accentColor;
  &:hover {
    background : $accentColorAlt;
  }
}

@mixin button-ghost {
  color      : $firstColor;
  background : none;
  border     : 1px solid;
  
  &:hover {
    background   : $firstColor;
    color        : #FFF;
    border-color : transparent;
  }
}

@mixin button-ghost-alert {
  // color : $thirdColor;
  color      : #FFF;
  border     : 1px solid $thirdColor;
  
  &:hover {
    background : $thirdColor;
  }
}

@mixin button-ghost-cta {
  color : $accentColor;
  cursor: default;
  
  &:hover {
    color : $accentColor;
    background: #FFF;
    border-color: $accentColor;
  }
}
@mixin button-mainmenu {
  width: 100%;
  font-family: $button-font;
  font-size: fontSize(normal);
  letter-spacing: 1px;
  color: $firstColor;
  text-shadow: -1px -1px 0 #FFF;
  background: linear-gradient(90deg,#d4d4d4,transparent 15%,transparent 85%,#d4d4d4),linear-gradient(#d4d4d4,#FFF 50%,#d4d4d4);
  border: 3px ridge $thirdColor;
  box-shadow: 0 0 0 2px lighten($firstColor, 20), 0 4px 6px 0 $firstColor;
  border-radius: 50px;
  &:hover {
    background : linear-gradient($accentColor, lighten($accentColor, 25), $accentColor );
    // color      : #FFF;
  }
}
