// Settings for EDgrid
$dev        : false;
$cssCore    : false;
$cssHelpers : true;
$container : rex-container;
$item      : rex-item;
$max-width  : 1344px;
$gutter     : 1rem;

//layout
:root {
  --header-height : 3rem;
  --max-width     : 1344px;
  --gutter        : 1rem;
}

// Breakpoints
$breakpoints : (
  s  : 0,
  m  : 640px,
  l  : 1024px,
  xl : 1440px
);

// Fracciones para calcular anchos de los items
$fractions : 3 6;

// Colors
$firstColor     :#2F428D;
$firstColorAlt  :#314dbb;
$secondColor    :#3998d4;
$secondColorAlt :#9ccaed;
$thirdColor     : #FF001A;
$thirdColorAlt  : #cf081c;
$accentColor    : #ff8000;
$accentColorAlt : #ff5300;
$darkColor      : #282D31;

// Complementary colors
$borderColor : #e2e7ec;
$textColor   : #53575A;
$bodyBg      : #FAFDFF;

:root {
  --first-color      : #007BDF;
  --first-color-alt  : #006DC6;
  --second-color     : #00CBFF;
  --second-color-alt : #00BFF0;
  --third-color      : #FF3C32;
  --third-color-alt  : #FF2419;
  --accent-color     : #FBA905;
  --accent-color-alt : #F1A000;
  --dark-color       : #282D31;
  --border-color     : #DFE0E0;
  --text-color       : #53575A;
  --body-bg          : #FAFDFF;
}

// z-index
$z-back    : -10;
$z-normal  : 1;
$z-tooltip : 10;
$z-fixed   : 100;
$z-modal   : 1000;

:root {
  --z-back    : -10;
  --z-normal  : 1;
  --z-tooltip : 10;
  --z-fixed   : 100;
  --z-modal   : 1000;
}

// Images path
$images-path: 'http://ux.ed.team/img';
